
<div  id="img-bg"> 


<main class="container" id="centro">
  <h2>Login</h2>
  <form action="">
   <div class="input-field">
       <input class="form-control" type="text" name="username" id="username" placeholder="Digite o seu email">
   </div>
   <div class="underline"></div>

    <div class="input-field">
        <input class="form-control"  type="password" name="password" id="password" placeholder="Digite a sua senha">
    </div>
    <div class="underline"></div>
    <input type="submit" value="Entrar">

   <div class="footer">
   <p>Não tem uma conta? <a routerLink= "/cadastro" > Cadastre-se</a></p>

   </div>
  </form>
</main>
</div>
